@import 'katex/dist/katex.min.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #0D0B14;
  color: #FFFFFF;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}